.bady{
    
}

.karaage{
    margin: 0;
    padding: 0;
    font-size: 30px;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    background-color:#FFFFBB;
}

.takatu{
    color: #EE0000;
}

.photo{
    top: 380px;
    left: 110px;
	position: absolute;
}

.photo img{
    padding:0;
	margin:0;
	width: 495px;
    height: 370px;
}

.kamei{
    position: absolute;
    top: 340px;
    left: 670px;
    width: 830px;
}

.matuda{
    padding: 0;
    border-bottom: 5px double #009900;
    border-top: 5px double #009900;
    display: inline-block;
}

.nakazima{
    color: #DD0000;
}

.chage{
    width: 300px;
    position: absolute;
    top: 770px;
    left: 780px;
}

.chage button{
    width: 600px;
    height: 90px;
    font-size: 200%;
    font-weight: 900;
    color: #FFFFFF;
    background: #FF3333;
    border: 1px solid #FFD5EC;
    border-radius: 100px;
}

.chage button:hover{
    background: #FF82B2;
} 